@use './variables'as *;
@use './reset'as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  background: var(--bg-img-mobile), var(--body-bg);
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
  font-family: 'Josefin Sans', sans-serif;

  @media (min-width: 50rem) {
    background: var(--bg-img-desktop), var(--body-bg);
    background-repeat: no-repeat;
    background-size: 100vw 30vh;
  }
}

main {
  width: min(90%, 40rem);
  margin: 0 auto;
}