header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.5rem 1.85rem;
  width: min(87.5%, 34rem);
  margin: 0 auto;

  @media (min-width: 50rem) {
    padding: 4.5rem 0 2.5rem 0;
  }
}

h1 {
  color: white;
  letter-spacing: 11px;
  font-size: 1.65rem;

  @media (min-width: 50rem) {
    letter-spacing: 14px;
    font-size: 2.4rem;
  }
}

.theme-toggle {
  all: unset;
  cursor: pointer;

  img {
    width: clamp(1.5rem, 4.5vw, 2rem);
  }
}