@use '../styles/variables'as *;

.todo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-container {
  background-color: var(--todo-bg);
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 var(--todo-shadow);
  margin-top: 1rem;
}

.todo-list {
  color: var(--todo-item-incomplete);
}

.completed {
  color: var(--todo-item-completed);
  text-decoration: line-through;
}

// TODO LIST FUNCTIONS

.list-functions {
  color: var(--todo-function);
  font-size: clamp(0.8rem, 2vw, .95rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1.25rem;
}

.list-filters {
  display: none;

  @media (min-width: 50rem) {
    display: flex;
    gap: 1rem;
  }
}

.filter-btn {
  all: unset;
  color: var(--todo-function);
  cursor: pointer;
  font-weight: 700;
  font-size: clamp(0.9rem, 2vw, .95rem);
  transition: all .2s ease-in;
}

.filter-btn:hover {
  color: var(--todo-function-hover);
}

.filter-btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 2px dashed var(--focus-clr-acc);
}

.filter-btn:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.filter-btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 2px dashed var(--focus-clr-acc);
}

.list-filters-mobile {
  background-color: var(--todo-bg);
  border-radius: 5px;
  color: var(--todo-function);
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  padding: 1rem 0;

  @media (min-width: 50rem) {
    display: none;
  }
}

.active-filter {
  color: var(--clr-accent);
}

.clear-list-btn {
  background: none;
  border: 0;
  color: var(--todo-function);
  cursor: pointer;

  &:hover {
    color: var(--todo-function-hover);
  }
}

.clear-list-btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 2px dashed var(--focus-clr-acc);
}

.clear-list-btn:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.clear-list-btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 2px dashed var(--focus-clr-acc);
}