@use '../styles/variables' as *;

.list-item {
  color: var(--todo-item-incomplete);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-block: 1rem;
}

.list-item.completed {
  color: var(--todo-item-completed);
  text-decoration: line-through;
}

.list-item::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--theme-dark-grayblue-800);
  width: 100%;
  bottom: 0;
  opacity: .65;
}

.list-item-text {
  display: inline;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.btn {
  all: unset;
  cursor: pointer;
  transform: scale(1);
}

.check-btn {
  border-radius: 50%;
  padding: .35rem .3rem;
  margin-right: 1.5rem;
}

.btn-empty {
  background: none;
  border: 1px solid var(--check-btn);
}

.completed-btn {
  background: var(--gradient);
  padding: 0 1rem;
}

.delete-icon,
.edit-icon {
  fill: var(--check-btn);
}

.item-left {
  margin-left: 1.5rem;
}

.edit-icon {
  font-size: 1.4rem;
}

.item-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
  gap: .5rem;
}

// EDIT SURFACE

.edit-surface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 1rem;

  .edit-input {
    padding: 0;
    padding-left: 4rem;
  }
}